<nav class="navbar navbar-expand-sm bg-dark navbar-dark w-100 mb-2">
    <ul class="navbar-nav">
        <a class="navbar-brand" href="/">
            NavBrand
        </a>
        <li class="nav-item">
            <a class="nav-link" href="/home">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/link">Link</a>
        </li>
        
        <li class="nav-item dropdown ml-auto">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown">Dropdown</a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="/animal">Animal</a>
                <a class="dropdown-item" href="/fruit">Fruit</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/hallym">Hallym</a>

            </div>
        </li>
    </ul>
</nav>
