{% extends '../base/layout.html' %}
{% block base %}
{% include "../components/header.html" %}

<div class="card" style="width: 18rem;">
    <img  src="https://w.namu.la/s/96f05e961ab1169f6f0ef41902388df4832baabd91f44e79ad4b83a2eb53439831f02378ce10fe4073f627f25ac31fcfe3de93161fc5d171902c77b9159aa9179f96490524dcd044322f4de526eb34922902843d9265718c384736ef3bf0da391cafedc93ac64bb53412dc87cd60c766" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">맛있는 과일!</h5>
        <p class="card-text">맛있는 과일!</p>
        <a href="https://emart.ssg.com/category/main.ssg?dispCtgId=6000095739" class="btn btn-primary">방문하기</a>
    </div>
</div>

{% endblock %}
