{% extends '../base/layout.html' %}
{% block base %}
{% include "../components/header.html" %}

<div class="card" style="width: 18rem;">
    <img  src="https://w.namu.la/s/cabe9812ae635b6cb7dd92471abeaf324aa0ae9378a02b39063641c4556e5bcdd581e130ff7802d0e31a7dad72709745828a19b371c89a569fc5d70c9b1aba8733c888e55a273d3541ece79297140f4b5fad803ffdbec6a511710511ef183d69" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">한림대학교</h5>
        <p class="card-text">한림대학교!</p>
        <a href="https://www.hallym.ac.kr/" class="btn btn-primary" target="_blank">방문하기</a>
    </div>
</div>

{% endblock %}
